body {
  height: 100vh;
  background: #ffc873;
  margin:0px;
  display:grid;
  justify-content:center;
  align-items: center;
}
.generator-table {   
  width: 550px;
  height: 450px;
  background-color: white;
  position: absolute;
  left:2%;
  top: 20%;  
  
}

.card{
  background: white;
  position:absolute;
  left:55%;
  box-shadow: inset 2px;
  border-radius: 2%;
  
}

.header {
  position: relative;
  border-bottom: 4px solid purple;
}

.photo{
  display: grid;
  width: 450px;
  height: 150px;
  border-radius: 2% 2%  0% 0%;
}

.avatar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-10%);
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 4px solid purple;
}
.card-content{
  width: 450px;
  height: 450px;
}
.name {
  padding-top: 65px;
  text-align: center;
  margin:0;
  font-size:40px;
}
.localitation {
  text-align: center;
  margin-top:0px;
  font-size:20px;
  font-style:italic;
}
.description {
  padding-top: 10px;
  text-align: justify;
  margin:35px;
  font-size:20px;
}
.boton {
  height: 45px;
  width: 11vh;
  background-color: white;
  margin-left: 175px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 40px 40px 40px 40px;
}
.footer{
  width: 450px;
  height: 50px;
  display:flex; 
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  border-top:1px solid grey;
  
}
.footer-item{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%; 
  height:100%;
}
.footer-item-middle{
  border-left:1px solid grey;
  border-right:1px solid grey;
}